/* .menu {
  overflow: hidden;
  height: 0;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.menu a {
  max-width: 8rem;
  margin: auto;
}
.menu li:hover {
  background-color: #acd8;
}
.button {
  cursor: pointer;
  margin: 0.5rem;
  border: 2px solid #eee;
  border-radius: 0.4rem;
  color: #eee;
  background-color: transparent;
  padding: 0.4rem 0.8rem;
  text-align: center;
  font-size: 1.5rem;
}
.button:hover {
  color: #333;
  background-color: #eee;
}
.menu.active {
  height: auto;
}

@media screen and (min-width: 576px) {
  .menu {
    display: flex;
    width: auto;
    height: auto;
  }
  .menu a {
    font-size: 2rem;
  }
  .menu span,
  nav .button {
    display: none;
  }
  section {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  section {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .menu a {
    display: flex;
    align-items: center;
  }
  .menu span {
    display: block;
    padding-left: 0.5rem;
    font-size: 1rem;
  }
  section {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  section {
    max-width: 1200px;
  }
}
*/