:root {
    --white: #f5f0ed;
    --red: #d03b40;
    --beige: #ded6c0;
    --grey: #241d1b;
    --sm: 2.4rem;
    --md: 2.8rem;
    --lg: 3.2rem;
}
.header-cafe-container {
    width: 100%;
    min-width: 320px;
    height: 850px;
    background-image: url(/Img/Fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-cafe--button-menu {
    display: none;
}
.nav-cafe--menu {
    display: flex;
    width: 700px;
    justify-content: space-around;
}
.nav-cafe--menu ul {
    display: flex;
    width: 700px;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}
.nav-cafe--menu li {
    width: 110px;
    list-style: none;
    text-align: center;
}
.nav-cafe--menu li a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-cafe--menu li a:hover {
    cursor: pointer;
    background-color: var(--beige);
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 10px;
    padding: 0px 6px;
}
.nav-cafe--presentation {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    margin-block-start: 150px;
}
.nav-cafe--presentation h1 {
    font-size: 4rem;
}
.nav-cafe--presentation p {
    font-size: 1.8rem;
    max-width: 520px;
    padding: 0;
}
.card-presentation {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
        "img title"
        "img paragraph";
    color: var(--grey);
    gap: 0;
    grid-template-rows: 0;
}
.card-presentation img {
    width: 90px;
    grid-area: img;
}
.card-presentation h3 {
    font-size: var(--sm);
    grid-area: title;
}
.card-presentation p {
    grid-area: paragraph;
}
.cafe-info-container, .cafe-contact-section {
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    text-align: center;
}