:root {
    --white: #f5f0ed;
    --red: #d03b40;
    --beige: #ded6c0;
    --grey: #241d1b;
    --sm: 2.4rem;
    --md: 2.8rem;
    --lg: 3.2rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    color: var(--white);
}
body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}
.header-cafe-container {
    width: 100%;
    min-width: 320px;
    height: 600px;
    background-image: url(/Img/Fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-cafe-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-cafe--img img {
    width: 170px;
    object-fit: cover;
    margin: 0 20px;
}
.nav-cafe--button-menu {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    border-radius: 6px;
    color: var(--beige);
    background-color: var(--red);
    text-align: center;
    line-height: 38px;
    font-size: 4rem;
    user-select: none;
}
.nav-cafe--menu {
    display: none;
}
.nav-cafe--presentation {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}
.nav-cafe--presentation h1 {
    font-size: var(--lg);
    margin: 30px 0;
    text-align: center;
}
.nav-cafe--presentation hr {
    width: 100px;
    border: 1px solid var(--white);
    justify-self: center;
    align-self: center;
}
.nav-cafe--presentation p {
    text-align: center;
    padding: 0 20px;
    margin: 30px 0;
    max-width: 500px;
}
.cafe-info-container {
    width: 100%;
    height: 540px;
    display: grid;
    text-align: center;
}
.cafe-info-container .info-left {
    display: grid;
    place-content: center;
    background-color: var(--red);
    color: var(--beige);
    gap: 10px;
}
.cafe-info-container .info-right {
    display: grid;
    place-content: center;
    background-color: var(--beige);
    color: var(--red);
    gap: 10px;
}
.cafe-info-container .info-left p,
.cafe-info-container .info-right p {
    max-width: 432px;
    padding: 0 10px;
}
.cafe-breakfast-container {
    display: grid;
    grid-template-rows: 80px auto 140px 100px;
    place-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 600px;
    background-image: url(/Img/Fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cafe-breakfast-container h2 {
    font-size: var(--md);
    text-align: center;
}
.cafe-breakfast-container hr {
    width: 100px;
    border: 1px solid var(--white);
    justify-self: center;
    align-self: center;
}
.cafe-breakfast-container p {
    text-align: center;
    min-width: 305px;
    max-width: 530px;
}
.cafe-breakfast-container a {
    width: 300px;
    height: 50px;
    max-width: 350px;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    border: 3px solid var(--white);
    padding: 10px;
    justify-self: center;
}
.cafe-breakfast-container a:hover {
    color: var(--grey);
    background-color: var(--white);
}
.cafe-cards-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 30px;
    padding: 40px 0;
    justify-content: center;
}
.card-presentation {
    width: 100%;
    height: auto;
    max-width: 500px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    color: var(--grey);
    padding: 0 15px;
}
.card-presentation img {
    width: 75px;
    justify-self: center;
    align-self: center;
}
.card-presentation h3 {
    font-size: var(--sm);
}
.cafe-contact-section {
    width: 100%;
    height: 540px;
    display: grid;
    text-align: center;
}
.cafe-contact-section .contact--left {
    display: grid;
    place-content: center;
    background-color: var(--beige);
    color: var(--red);
    gap: 10px;
}
.cafe-contact-section .contact--right {
    display: grid;
    place-content: center;
    background-color: var(--red);
    color: var(--beige);
    gap: 10px;
}
.cafe-contact-section .contact--left p,
.cafe-contact-section .contact--right p {
    max-width: 432px;
    padding: 0 10px;
}
.cafe-contact-section a {
    text-decoration: none;
    font-weight: bold;
}
.cafe-contact-section .contact--left a {
    color: var(--red);
}
.cafe-contact-section .contact--right a {
    color: var(--beige);
}
footer {
    width: 100%;
    height: 100px;
    background-color: var(--grey);
    padding: 0 10px;
    display: flex;
    align-items: center;
}