:root {
    --white: #f5f0ed;
    --red: #d03b40;
    --beige: #ded6c0;
    --grey: #241d1b;
    --sm: 2.4rem;
    --md: 2.8rem;
    --lg: 3.2rem;
}
.cafe-info-container,
.cafe-contact-section {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    text-align: center;
}
.cafe-breakfast-container a {
    width: 350px;
}
.cafe-cards-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 40px 0;
    gap: 10px;
}
.card-presentation {
    width: 100%;
    height: auto;
    max-width: 500px;
    display: grid;
    grid-template-rows: 90px 34px auto;
    gap: 10px;
    color: var(--grey);
}
.card-presentation img {
    width: 90px;
}
.cafe-breakfast-container {
    grid-template-rows: 80px auto 100px 100px;
}
.cafe-breakfast-container a {
    width: 350px;
}
.nav-cafe--presentation {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}